*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    height: 100vh;
    display: flex;;
    align-items: center;;
    justify-content: center;;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.head{
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(55, 129, 240);
    position: relative;
}

.container{
    position: relative;
    max-width: 430px;;
    width: 100%;;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0,5px 10px rgba(0, 0, 0, 0.1);

}

.container .form{
    padding: 30px;
}

.container .form .title{
    position: relative;
    font-size: 25px;
    font-weight: 500;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    /*background-color: black;*/
    border-radius: 25px;
}

.form .input-field{
    
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 15px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: darkcyan;
}



.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    columns: #999;
    font-size: 20px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: darkcyan;
}

.form .forget-text{
    font-size: 15px;
    color: blue;
    text-align: end;
    margin-top: 20px;
    text-decoration: none;

}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 30px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: rgb(23, 158, 23);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: green;
}

.form .login-signup{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
}

.form .signup-text{
    font-size: 15px;
    color: blue;
}

.form a:hover{
    color: green;
}